body {
	margin: 0 auto;
	padding-top: 192px;
	font-size: 12pt;
	font-family: "Liberation Serif", serif;
	background: #498552 url("fond.jpeg") no-repeat center top;
	/* background: #172D1B url("fond-deuil.jpeg") no-repeat center top; */
}

body, footer, section {
    width: 750px;
}

header h1 a {
    display: block;
    background: url("titre.png") no-repeat center top;
    width: 800px;
    height: 125px;
    margin: 0 -25px;
    
}

header h1 a span {
    display: none;
}

footer {
    position: absolute;
    top: 1050px;
    text-align: center;
}

a {
color: #C60000;
}

footer a {
    color: #EDD9A6;
}

ul {
	padding-left: 1.5em;
}


#introduction {
width: 70%;
margin: 1em auto;
font-size: 120%;
}
