$link: #003585;
$highlight: #555;
$alt_background: rgba(#FFFDF9, 0.7);

@font-face {
  font-family: "Augusta";
  src: url("Augusta.ttf");
}

.h, th, h2, h3, h4, h5, h6 {
  font-family: "Augusta";
  font-weight: normal;
  color: $highlight;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:hover, &:visited {
    color: $link;
  }
}

fieldset {
  margin-top: 1em;
  border: 1pt solid $highlight;
  border-radius: 1ex;
  position: relative;
  padding-top: 2.5rem;

  legend {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5ex 1rem 0.5ex 3rem;
    background-color: $highlight;
    border-radius: 0 0 0 2em;
    color: #DDD;
    font-family: "Augusta";
    font-size: 1.1rem;
  }
}

.section.article,
.section.carte
{
  border-radius: .5rem;
}


#document.error {
  background-image: url("illustrations/accident.png");
  background-position: center 90%;
  background-repeat: no-repeat;
  background-size: auto 20em;
  padding-bottom: 25em;

  &.http-404 {
    background-image: url("illustrations/perdu.png");
  }

  &.error.http-403, &.error.http-401
  {
    background-image: url("illustrations/commissaire.png");
    background-size: auto 28em;
    padding-bottom: 30em;
  }
}

#document.maintenance {
  background-image: url("illustrations/froissartage.png");
  background-position: center 90%;
  background-repeat: no-repeat;
  background-size: auto 20em;
  padding-bottom: 25em;
}

#footer {
  color: $highlight;
}

.clan-st-raphael-archange
{
  &.unites.index > .h
  {
    visibility: hidden;
  }

  #presentation
  {
    font-size: 130%;

    h3
    {
      width: 20rem;
      font-style: italic;
      font-weight: normal;
      color: #777;

      &:nth-of-type(even)
      {
        float: right;
        margin-left: 1rem;
        margin-right: 0;
        text-align: right;
      }

      &:nth-of-type(odd)
      {
        float: left;
        margin-left: 0;
        margin-right: 1rem;
        text-align: left;
      }
    }
  }
}

@media screen {
  .document #body {
    background-color: #CCC;
    background-image: url('img/bandeau-gauche.png'), url('img/bandeau-droite.png'), url('img/bandeau.png');
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: top left, top right, top left;
    background-size: auto;
    border-radius: 0 0 1rem 1rem;
    max-width: none;
  }

  #header {
    background-size: 80pt auto;
    background-repeat: no-repeat;
    background-position: center 80%;
    background-image: url("img/armes.png");
    height: 235px;

    & > .h a {
      color: inherit;
      text-decoration: inherit;
    }

    #branche {
      left: 1rem;
    }
  }

  #document.journaux .section.article,
  .section.carte,
  tr.odd,
  #historique.pagelinks,
  #document.annuaire #filtres ul li,
  .section.citation:nth-of-type(odd),
  .section.commentaire:nth-of-type(odd),
  {
    background: $alt_background;
  }

  div.dialog {
    border-radius: 1ex;

    .h {
      color: inherit;
    }
  }

  #aside
  {
    .h {
      background: white;
      border-radius: 1em 0 0 1em;

      a {
        color: inherit;
        text-decoration: inherit;
        font-size: inherit;
      }
    }

    li
    {
      list-style-type: none;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: auto 80%;

      &.current a {
        color: black;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  /* Icônes */
  #aside #login li + li {
    background-image: url("icones/login.png"); }
  #aside li.unites, #aside li.membres {
    background-image: url("icones/customers.png"); }
  #aside li.activites {
    background-image: url("icones/date.png"); }
  #aside li.photos {
    background-image: url("icones/photography.png"); }
  #aside li.journaux {
    background-image: url("icones/feed.png"); }
  #aside li.documents {
    background-image: url("icones/library.png"); }
  #aside li.liens {
    background-image: url("icones/world.png"); }
  #aside li.rapports, #aside li.livredor, #aside li.citation, #aside li.ecrire {
    background-image: url("icones/pen.png"); }
  #aside li.inscription {
    background-image: url("icones/plus.png"); }
  #aside li.individu, #aside li.fiche {
    background-image: url("icones/user.png"); }
  #aside li.print {
    background-image: url("icones/print.png"); }
  #aside li.fermer {
    background-image: url("icones/lock.png"); }
  #aside li.prevoir, #aside li.fonder, #aside li.inscrire, #aside li.citation.enregistrer, #aside li.envoyer {
    background-image: url("icones/plus.png"); }
  #aside li.administrer, #aside li.admin {
    background-image: url("icones/settings.png"); }
  #aside li.parametres {
    background-image: url("icones/config.png"); }
  #aside li.editer {
    background-image: url("icones/pencil.png"); }
  #aside li.annuler, #aside li.supprimer, #aside li.desinscrire {
    background-image: url("icones/supprimer.png"); }
  #aside li.archives {
    background-image: url("icones/old-versions.png"); }
  #aside li.rss, #aside li.atom {
    background-image: url("icones/feed.png"); }
  #aside li.vcf {
    background-image: url("icones/my-account.png"); }
  #aside li.ics {
    background-image: url("icones/date.png"); }
  #aside li.csv {
    background-image: url("icones/database.png"); }
}
