$highlight: #645441;
$alt_bg: rgba(#FFF, 0.6);

.h, th, h2, h3, h4, h5, h6 {
  color: $highlight;
}

a {
  color: $highlight;

  &:hover, &:visited {
    color: $highlight;
  }
}

.image {
  border-radius: .5ex;
}

.empty {
  color: $highlight;
}

thead th {
  border-bottom: 2px solid #845d18;
}

table .h td, thead th {
  font-weight: bold;
}

#document.unites.groupe > .h {
  display: none;
}

tr.odd,
.section.article,
.section.carte,
.section.citation:nth-of-type(odd),
.section.commentaire:nth-of-type(odd),
#branche,
#presentation,
#historique.pagelinks
{
  background: $alt_bg;
}

.section.article,
.section.carte,
#presentation,
#historique.pagelinks,
.adminlink
{
  border-radius: 1ex;
}

#branche {
  padding: .5ex 2em;
  border-radius: 0 1em 1em 0;
}

/* Formulaires */
input[type=password],
input[type=text],
input[type=tel],
input[type=email],
input[type=url],
textarea {
  background: rgba(255, 255, 255, 0.6);
}

fieldset {
  position: relative;
  margin-top: 1em;
  padding-top: 2.5em;
  border: 1pt solid $highlight;
  border-radius: 1ex;

  legend {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.5ex 1em 0.5ex 3em;
    border-radius: 0 0 0 2em;
    color: white;
    background-color: $highlight;
  }
}

form p.info, form p.warn {
  box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
  border-radius: 1ex;
  background-repeat: no-repeat;
  padding: 1ex 1em 1ex 48px;
  margin: 1ex 1ex 0.5ex;
  font-size: 120%;
  min-height: 40px;
}

form p.info {
  color: #3F4C20;
  background-color: #A0BF6B;
}

form p.warn {
  color: #550000;
  background-color: #EDDF9A;
}

div.control.invalid {
  background-color: #D6968B;
  border-radius: .75ex;

  label {
    color: #550000;
  }

  div.error {
    color: #550000;
  }
}

.buttonbox .critical {
  color: #550000;
}

/* Illustrations */
#document.error {
  background-image: url("illustrations/accident.png");
  background-position: center 90%;
  background-repeat: no-repeat;
  background-size: auto 20em;
  padding-bottom: 25em;
}

#document.error.http-404 {
  background-image: url("illustrations/perdu.png");
}

#document.error.http-403, #document.error.http-401 {
  background-image: url("illustrations/commissaire.png");
  background-size: auto 28em;
  padding-bottom: 30em;
}

#document.error.http-200 {
  background-image: none;
}

#document.maintenance {
  background-image: url("img/pionnier.png");
  background-position: center 70%;
  background-repeat: no-repeat;
  background-size: auto 10em;
  padding-bottom: 25em;
}

#document.annuaire {
  background-image: url("illustrations/ancien-moderne.png");
  background-position: 5% bottom;
  background-size: 15em auto;
  background-repeat: no-repeat;
  padding-bottom: 20em;
}

#document.photos.consulter,
#document.photos.voir
{
  background-image: url("illustrations/eclaireur-admirant.png");
  background-position: right bottom;
  background-size: auto 20em;
  background-repeat: no-repeat;
  padding-bottom: 20em;
}

#document.archives {
  background-image: url("illustrations/ancien-moderne.png");
  background-position: 95% bottom;
  background-size: 15em auto;
  background-repeat: no-repeat;
  padding-bottom: 20em;
}

#document.liens {
  background-image: url("img/gabier.png");
  background-position: center 95%;
  background-size: 10em auto;
  background-repeat: no-repeat;
  padding-bottom: 20em;
}

#document.journaux {
  background-image: url("img/reporter.png");
  background-position: 8% bottom;
  background-size: 6em auto;
  background-repeat: no-repeat;
}

#document.documents {
  background-image: url("img/transmetteur.png");
  background-position: center 95%;
  background-size: 10em auto;
  background-repeat: no-repeat;
  padding-bottom: 20em;
}

/* Annuaire */
#document.annuaire #filtres ul li
{
  background: $alt_bg;
  color: #362d23;
}

.effectifs tr.category td a {
  color: $highlight;
  font-size: 125%;
  text-decoration: none;
  padding-top: 1em;
}

#document.photos.voir img,
#document.photos.editer img
{
  border: 1px solid black;
  box-shadow: 0.5ex 0.5ex 1.5em rgba(35, 35, 30, 0.75);
  background: white;
}

@media screen {
  body {
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: right bottom, right 96pt, center top;
    background-image: url("img/sifflet.png"), url("img/foulard.png"), url("img/tissu-beige.png");
    background-color: #CFBC9B;
    border-radius: 0.75ex;
    box-shadow: 1pt 1pt 1.5em rgba(0, 0, 0, 0.7) inset, 0px 0px 8em #A9947B;
    padding-bottom: 5em;
  }

  #header.suf {
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 80pt auto;
    background-image: url("img/promesse.png");
    width: 100%;
    height: 96pt;
    position: relative;
    overflow: hidden;
    padding: 1em 0px;
    margin: 2em auto 5em;

    .h {
      background-repeat: no-repeat;
      background-position: top center;
      background-image: url("img/bande-groupe.png");

      a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        line-height: 8em;
      }
    }
  }

  #document div.dialog {
    box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
    border-radius: 1ex;
  }

  #footer {
    color: #CFBC9B;

    .h {
      color: #d7c8ac;
    }

    a, a:visited, a:hover {
      color: inherit;
    }
  }

  // Flots
  #aside {
    .h, li a {
      font-size: 130%;
    }

    .h {
      text-align: right;
      height: 4em;
      max-height: 4em;
      line-height: 2.5em;
      margin: 0;
      padding: 1ex 1ex 1ex 2em;
      color: white;
      font-size: 12pt;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url("img/flot-bleu.png");
      background-size: auto 100%;
      white-space: nowrap;
      overflow: hidden;

      a {
        color: inherit;
        text-decoration: inherit;
        font-size: inherit;
      }
    }

    & > .section:first-child {
      & > .h {
        background-image: url("img/flot-rouge.png");
      }

      & + .section > .h {
        background-image: url("img/flot-vert.png");
      }

      & + .section + .section > .h {
        background-image: url("img/flot-jaune.png");
        color: #73614B;
      }
    }
  }

  a.adminlink {
    color: #CFBC9B;
    border-radius: 1ex;
    box-shadow: 1pt 2pt 1ex rgba(4, 4, 4, 0.5);
    margin: 0 1em;

    &.critical {
      background-color: #D6968B;
    }
  }

  /* ICÔNES */
  #aside ul li {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 2em;
    line-height: 1.5em;
  }

  #aside #login li + li {
    background-image: url("icones/login.png"); }
  #aside li.unites, #aside li.membres {
    background-image: url("icones/customers.png"); }
  #aside li.activites {
    background-image: url("icones/date.png"); }
  #aside li.photos {
    background-image: url("icones/photography.png"); }
  #aside li.journaux {
    background-image: url("icones/feed.png"); }
  #aside li.documents {
    background-image: url("icones/library.png"); }
  #aside li.liens {
    background-image: url("icones/world.png"); }
  #aside li.rapports, #aside li.livredor, #aside li.citation, #aside li.ecrire {
    background-image: url("icones/pen.png"); }
  #aside li.inscription {
    background-image: url("icones/plus.png"); }
  #aside li.individu, #aside li.fiche {
    background-image: url("icones/user.png"); }
  #aside li.print {
    background-image: url("icones/print.png"); }
  #aside li.fermer {
    background-image: url("icones/lock.png"); }
  #aside li.prevoir,
  #aside li.fonder,
  #aside li.inscrire,
  #aside li.citation.enregistrer
  {
    background-image: url("icones/plus.png"); }
  #aside li.envoyer {
    background-image: url("icones/publish.png"); }
  #aside li.administrer, #aside li.admin {
    background-image: url("icones/settings.png"); }
  #aside li.parametres {
    background-image: url("icones/config.png"); }
  #aside li.editer {
    background-image: url("icones/pencil.png"); }
  #aside li.annuler,
  #aside li.supprimer,
  #aside li.desinscrire,
  #aside li.supprj
  {
    background-image: url("icones/supprimer.png"); }
  #aside li.archives {
    background-image: url("icones/old-versions.png"); }
  #aside li.rss, #aside li.atom {
    background-image: url("icones/feed.png"); }
  #aside li.vcf {
    background-image: url("icones/my-account.png"); }
  #aside li.ics {
    background-image: url("icones/date.png"); }
  #aside li.csv {
    background-image: url("icones/database.png"); }
}

@media print {
  #footer #about .author {
    color: $highlight;
  }
}
