$assombrir: rgba(0, 0, 0, 0.3);
$eclaircir: rgba(255, 255, 255, 0.3);
$hilight_color: #e1c571;
$footer_hilight_color: #ab7c2b;

@media screen {
  * {
    color: white;
  }

  body {
    background: #573114 url("img/foulard.jpeg");
  }

  a, a:hover, a:visited,
  .h, h2, h3, h4, h5, h6, th,
  .table.effectifs td.category a
  {
    color: $hilight_color;
  }

  thead th, .effectifs td.category {
    border-bottom: 2px solid #845d18;
  }

  // .section écrase .fse dans la pondération du sélecteur.
  #header.section {
    background: url("img/coquille.png") 3em top, url("img/baussant.png") 96% top;
    background-repeat: no-repeat;
    background-size: auto 85pt;
    height: inherit;

    a {
      display: block;
      width: 100%;
      height: 0;
      padding: 100pt 0 0;
      overflow: hidden;
      background: url("img/titre.png") no-repeat center center;
      background-size: auto 70%;
    }
  }

  #branche
  {
    color: $hilight_color;
    background: $assombrir;
    padding: .5ex;
  }

  .empty {
    text-align: center;
    height: 16em;
    line-height: 16em;
    color: #7f7d73;
  }

  tr.odd,
  #cartevisite,
  #evenement,
  #document.citation .section.citation:nth-of-type(odd),
  .section.commentaire:nth-of-type(odd),
  #document.documents .section.document,
  #document.journaux .section.article,
  #document.individus.index #filtres li.current
  {
    background-color: $eclaircir;
  }

  #contentwrapper #document.voir h1 {
    color: #e1c571;
  }

  // Pélerin
  body.journaux #body {
    background: url("pelerin/lisant-droite.png") 4em 80% no-repeat;
  }

  #document
  {
    &.error {
      background: url("pelerin/decidant-droite.png") left bottom no-repeat;
    }

    &.maintenance {
      background: url("pelerin/servant-vide.png") left 10em no-repeat;
      background-size: 12em auto;
    }
  }

  #document.unites.index #presentation {
    background: $eclaircir url("pelerin/marchant-gauche.png") 97% 95% no-repeat;
    max-width: 45em;
    padding-right: 10em;
  }

  #document.photos.index {
    background: url("pelerin/decidant-gauche.png") right 70% no-repeat;
    padding-right: 3em;
  }

  #document tr.cca.cr td.accr
  {
    background-image: url("img/conseiller-religieux.png") !important;
    background-size: auto 90%;
    background-position: .1rem center;
  }

  // Formulaire
  fieldset {
    position: relative;
    margin-top: 1em;
    border: 1pt solid white;
    background-color: $assombrir;
  }

  fieldset legend {
    font-weight: bold;
    margin-left: 4em;
    font-size: 120%;
    color: #e1c571;
    padding: .5ex;
  }

  input.entry,
  input.password,
  textarea
  {
    background-color: $assombrir;
    color: white;
    border: 1pt dotted #ab7c2b;
  }

  button, input.file, select, option
  {
    color: black;
  }

  div.control .input.file div.wrapper .max {
    font-style: italic;
    font-size: 80%;
    color: $hilight_color;
  }


  #aside .h
  {
    border-bottom: 1px solid white;
  }

  #aside ul, #footer ul {
    padding: 0 1em;

    li {
      list-style-type: square;
      line-height: 1.5em;

      a {
        display: inline-block;
        vertical-align: middle;
        // Pas d'icône sur ce thème.
        padding-left: 0.25rem;
      }

      &.current a
      {
        color: white;
      }
    }
  }

  #footer {
    color: $footer_hilight_color;
    background: $assombrir;

    .h, .h a
    {
      color: #d8ac64;
    }

    li {
      color: white;
      a {
        color: $footer_hilight_color;
      }
    }
  }

  #historique.pagelinks
  {
    background: $eclaircir;
  }

  .pages.links li.current a
  {
    color: inherit;
  }

  #document.admin tr.warn,
  #document.admin tr.warning
  {
    td, a
    {
      color: black;
    }

    &.odd
    {
      a, td
      {
        color: black;
      }
    }
  }

  .dialog.error
  {
    color: black;
    *
    {
      color: black;
    }
  }
}
